.nav {
  grid-area: nav;
  background-color: blueviolet;
}

.item a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.item .active {
  color: red;
}

.friends {
  padding-top: 15px;
  font-size: 22px;
}

.friends_contanier {
  display: flex;
}